/* CSS declarations go here */

body, html {
 padding: 0;
 margin: 0;
}

header {
    background-color: #F7F7F7;
}

header::after {
    content: url('horni-helnik.png');
    float:left;
    position:absolute;
    z-index: 5;
}

.addComment::after {
    content: url('dolni-helnik.png');
    float: right;
    position: relative;
    z-index: 5;
    bottom:0px;
    width: 47px;
    height: 42px;
}

.myhint {
    padding: 15px 25px 15px 25px;
    font-size: small;
    color: #999999;
} 



.myprogress {
    padding: 8px 25px 15px 25px;
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: larger;
    color:#FC8C4C;
}



.myquestion {
    background-color: white;
    text-align: center;
    padding: 20px;
}



article {
    position: relative;
    padding: 0px;
    overflow: hidden;
}


.addComment {
    color: white;
    display: block;
    position: relative;
    font-weight: lighter;
    padding: 15px 0px 15px 0px;
    width: 100%;
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
}

.addComment:hover {
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
}

.addComment .fui-chat {
    font-size: smaller;
}


.footer-container {
    background-color: #FC8C4C !important;
    height: 100px;
}

footer { 
    background-color: rgba(255, 255, 255, 0) !important;
    display: block;
    width: 100%;
    position: fixed;
    bottom:0;
}





#sayNo, #sayYes {
    position: fixed;
    color: white;
    bottom:25px;
    font-size: larger;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#sayNo {
    left: -75px;
    padding: 10px 25px 10px 100px;
}

#sayYes {
    right: -75px;
    padding: 10px 100px 10px 25px;
}

#sayNo:hover {
    left: -25px;
}

#sayYes:hover {
    right: -25px;
}

#sayNo:hover, #sayYes:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #FC8C4C;
}

.uploadContainer {
    background: url('question-empty.png') no-repeat top center rgba(237, 237, 237, 0);
    text-align: center;
    min-height: 629px;
    position: relative;
}

.uploadPositioning {
    position: absolute;
    top:95px;
    margin: 0 auto;
    display: block;
    width:100%;
}


input.question {
    position: relative;
    top: 465px;
    left: -40px;
    line-height: 35px;
    font-size: 30px;
    border: 0;
}

.photo-placeholder {
    width: 477px;
    height: 477px;
    overflow: hidden;
    margin-left: -238px;
    top: 0;
    left: 50%;
    position: absolute;
}

.photo-placeholder img {
    width: 477px;
}

.takePicture::before {
    font-size: 92pt;
    background-color: #EDEDED;
    padding: 10px;
}

.uplFileCont {
    position:relative;
    background-color: #EDEDED;
    display: inline;
}

.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.uplButton {
    font-size: larger;
    border-radius: 25px;
    border-color: #CCCCCC;
    color: #CCCCCC;
    border-width: 2px;
    border-style: solid;
    padding: 5px 20px;
    background-color: #EDEDED;
    margin-left: 15px;
}

.realButton {
    filter:alpha(opacity: 0);
    opacity: 0;
    height:32px;
    position: relative;
    z-index: 2;
}

.uploadForm {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -35px;
    height: 50px;
    background-color: #EDEDED;
}

/*body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}*/
